<div class="dialog-padding">
  <h2 mat-dialog-title class="dialog-title">Create Job Search</h2>
  <mat-dialog-content [formGroup]="newJobForm">

    <div class="custom-section-header-container">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="custom-section-header"></div>
          <mat-card-title>Create New Job</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name">
          </mat-form-field>

          <mat-form-field>
            <textarea  formControlName="description" matInput placeholder="Description"></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <span class="btn btn-sign btn-all cursor-pointer" (click)="closeModal()">Cancel</span>
    <button class="btn btn-sign btn-all cursor-pointer" [disabled]="newJobForm.invalid"
      (click)="saveNewJob()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>

</div>