
@import '../../../../../assets/styles/custom-styles.scss';

@import '../../../../../assets/styles/breakpoints.scss';
.resume-heading{
    h3{
        color: $black;
        @include media(">phone", "<=tablet") {
          font-size: 20px;
         }
        span{
            cursor: pointer;
            i{

                font-size: 20px;
                color: green;
            }
        }
    }
}

@media (max-width: 767px) {
    .table-wrap table,
    .table-wrap thead,
    .table-wrap tbody,
    .table-wrap th,
    .table-wrap td,
    .table-wrap tr {
      display: block;
    }
    .table-wrap thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .table-wrap td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%!important;
      white-space: normal;
      text-align: left;
    }
    .table-wrap td:before {
      position: absolute;
      top: 8px;
      left: 15px;
      width: 45%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }
    .table-wrap td:first-child {
      padding-top: 17px;
    }
    .table-wrap td:last-child {
      padding-bottom: 16px;
    }
    .table-wrap td:first-child:before {
      top: 17px;
    }
    .table-wrap td:before {
      content: attr(data-title);
    }
    .table tbody tr {
      border-top: 1px solid #ddd;
    }
    .table tbody tr td {
      border: none;
    }
  }
  .table-wrap {
    background: #fff;
    margin: 40px 0px;
  }
  
  .table tbody tr:nth-child(odd) {
    background: #eee;
  }
  @media (min-width: 768px) {
    .table thead tr th,
    .table tbody tr td {
      padding: 15px 20px;
    }
  }

  .table{
    box-shadow: 0px 4px 3px rgba(230, 230, 230, 0.51);
  }