<footer class="footer-cv ">
  <section id="footer-social" class="bg-a-light">
    <div class="container text-center">
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
        <li>
          <i class="fab fa-twitter"></i>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
        </li>
      </ul>
    </div>
  </section>

  <section id="footer-nav" class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-unstyled text-left">
            <li>
              <p class="text-grey-light">Ceevee</p>
            </li>
            <li>
              <a class="foot-links">{{'footer.Home' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.resumeTemplates' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.contactUs' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled text-left">
            <li>
              <p class="text-grey-light">Ceevee</p>
            </li>
            <li>
              <a class="foot-links">{{'footer.Home' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.resumeTemplates' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.contactUs' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled text-left">
            <li>
              <p class="text-grey-light">Ceevee</p>
            </li>
            <li>
              <a class="foot-links">{{'footer.Home' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.resumeTemplates' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.contactUs' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled text-left">
            <li>
              <p class="text-grey-light">Ceevee</p>
            </li>
            <li>
              <a class="foot-links">{{'footer.Home' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.resumeTemplates' | translate}}</a>
            </li>
            <li>
              <a class="foot-links">{{'footer.contactUs' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="footer-copyright" class="footer-mid">
    <div id="footer-decorative-line" class="show-line"></div>
    <div class="container text-center">
      <p>{{'footer.details.heading' | translate}}</p>
      <p class="txt-ft-vision">{{'footer.details.subheading' | translate}}</p>
      <p>{{'footer.details.employerName' | translate}}</p>
      <p>{{'footer.details.companyAddress' | translate}}</p>
      <br />
      <p>{{'footer.details.copyrighttitle' | translate}} © 2020 Ceevee. {{'footer.details.copyrightdesc' | translate}}.</p>
    </div>
  </section>
</footer>
