<div class="language-form">
    <div class="addFormHeading"><span>{{operationType}} Employment</span>
    </div>
    <div class="language-form-box" [formGroup]="employmentForm">
        <mat-form-field>
            <input formControlName="employerName" matInput placeholder="Company Name">
        </mat-form-field>
        <br>
        <div class="two-fields-flex">
            <mat-form-field>
                <input formControlName="department" matInput placeholder="department or division">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="jobTitle" matInput placeholder="Job Title">
            </mat-form-field>
        </div>

        <div class="two-fields-flex">
            <ng-container *ngIf="dayOfMonth.checked">
                <app-datemonthyear-picker class="half_width" [parentFormGroup]="professionalExperienceEntry"
                    [controlType]="'startedAt'">
                </app-datemonthyear-picker>
                <ng-container *ngIf="!present.checked">
                    <app-datemonthyear-picker class="half_width" [parentFormGroup]="professionalExperienceEntry"
                        [controlType]="'endedAt'">
                    </app-datemonthyear-picker>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!dayOfMonth.checked">
                <app-month-year-picker class="half_width" [parentFormGroup]="professionalExperienceEntry"
                    [controlType]="'startedAt'">
                </app-month-year-picker>
                <ng-container *ngIf="!present.checked">
                    <app-month-year-picker class="half_width" [parentFormGroup]="professionalExperienceEntry"
                        [controlType]="'endedAt'">
                    </app-month-year-picker>
                </ng-container>
            </ng-container>

        </div>
        <div class="emp-state">
            <mat-checkbox color="primary" (change)="enableMoment(professionalExperienceEntry, dayOfMonth)" #dayOfMonth>
                {{'global.toggleDatePicker' | translate}}</mat-checkbox>
            <mat-checkbox color="primary" #present formControlName="present">
                {{'global.present' | translate}}</mat-checkbox>
        </div>
        <mat-form-field style="width: 45%;">
            <input formControlName="city" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field style="width: 45%;margin-left: 15px;">
            <input formControlName="country" matInput placeholder="Country">
        </mat-form-field>
        <br>
        <quill-editor class="editor-with-zero-height"
            placeholder="Introduce yourself by pitching your skills & explaining how they can be of value to a company"
            formControlName="description"></quill-editor>

    </div>
    <div class="lan-btn">
        <button class="btn-all btn-save" (click)="saveEmployment()">
            Save
        </button>
        <a (click)="closeForm()" class="btn-all btn-save">
            Cancel
        </a>
    </div>
</div>