@import "../../../../../assets/styles/custom-styles.scss";
@import "../../../../../assets/styles/breakpoints.scss";

.page-link{
    background: transparent !important;
    border: none !important;
    cursor: pointer;
}
.active{
    background: #0764d8;
    border-radius: 6px;
}
#box {
    // column-width: 680px;
    // white-space: nowrap;
    // -webkit-column-width: 680px;

     height: 100%;
    
    // opacity: 1;
    // display: block;
    // width: 100%;
    // transition: .5s ease;
    // backface-visibility: hidden;
}
#column1 {
    position: relative;
    top: 2px;
}

.email-heading {
    position: relative;
    width: 100%;
}

.email-section {
    position: relative;
    width: 100%;
}

.email-head {
    margin-left: 6%;
    font-weight: 600;
    color: #6d6d6d;
}
.title5 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}
.email-head button {
    margin-right: 5%;
    border: 0;
    background-color: transparent;
    float: right;
    font-weight: 400;
    color: #440ccc;
    box-shadow: none;
    padding: 0;
}

.display-box .email-display-box {
    // max-width: 658px;
}
.display-box {
    position: relative;
    // max-width: 608px;
    margin: 0 auto;
}

.display-box::before {
    content: "";
    margin-bottom: 50px;
    // margin: 0  auto 50px auto;
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    padding-top: 100%;
    background-color: $secondary;
    border-radius: 50%;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.2);
    z-index: -1;
    @include media(">phone", "<=tablet") {
        display: none;
    }
}
.display-box > div:first-child {
    // height: 100%;
    // width: 100%;
    margin: 0 auto;
    // padding: 2em 1.8em 1.8em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    // min-height: 720px;
    border-radius: 2px;
    position: relative;
    z-index: 0;
    -webkit-transition: min-height 0.3s ease-in-out;
    transition: min-height 0.3s ease-in-out;
    @include media(">phone", "<=tablet") {
        // padding: 1em;
    }
}
.email-left-box {
    h6 {
        margin-bottom: 20px;
    }
}

.text-area-cv,
.input-cv,
.redaio-cv {
    margin: 5px 0;
}
.btn-copy {
    border-radius: 2px;
    background-color: $secondary;
    color: #fff;
    min-width: 160px;
    font-size: 14px;
    padding: 12px 8px;
}
.cv-margin {
    margin-top: 50px;
}

.share-things {
    background-color: #f8f8f8;
    padding: 5px 15px;
    display: inline-block;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 1.2em;
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 9;
}

.icon-copy {
    display: inline-block;
    cursor: pointer;
    i {
        color: gray;
        width: 40px;
        height: auto;
    }
}

.progress-percentage {
    padding-left: 10px;
}
.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.save-btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.save-btn {
    font-size: 22px;
    color: green;
}
.add-more-emp {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}

.dis-box {
    position: relative;
    width: 100%;
}

.bottom-cv-btn {
    position: absolute;
    left: 0;
    bottom: 3%;
    display: inline-block;
    padding: 0 30px;
}
.top-cv-con {
    width: 100%;
    height: 100vh;
    border: 2px solid #ddd;
    padding: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.left-btn {
    background: transparent;
    border: 1px solid $black;
    padding: 5px;
}
.left-btn:not(:first-child) {
    margin-left: 20px;
}
.top-cv {
    // max-height: 720px;
    //overflow-y: scroll;
    overflow: hidden;
    width: 100%;
    height: 100%;
    //height: 29.7cm; 
    // margin-bottom: 50px;
    margin-bottom: 0px !important;
}
* {
    page-break-inside: avoid;
}
a.btn.btn-cv {
    border: 1px solid #000;
    color: black;
    font-size: 14px;
    @include media(">phone", "<=tablet") {
        margin-bottom: 10px;
        margin-left: 10px;
    }
}
.bot-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    @include media(">phone", "<=tablet") {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
a.btn.btn-cv:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.top-cv .container .name {
    text-align: center;
}
.name {
    font-weight: bold;
    font-size: 14.5pt;
    padding-bottom: 0.04em;
    line-height: 29.6029px;
}

.svg-logo {
    width: 11.8px;
    margin-right: 5px;
}

.details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cv-two-one{

}
.phone-cv,
.email-cv,
.address {
    display: inline-block;
    // padding-bottom: 0.30em;
    overflow-wrap: break-word;
    font-size: 12px;
    white-space: normal;
}
.ml-cv {
    margin-left: 10px;
}
.address {
    margin-right: 10px;
    word-break: break-word;
}

.cv-profile {
    width: 100%;
    padding-bottom: 0.8em;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
}
.cv-profile-heading {
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

h6 {
    width: 100%;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    .cv-p-h {
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 0.52em;
        border-bottom: solid rgb(0, 0, 0);
    }
}
.cv-profile-con {
    font-size: 11px;
    line-height: 20.8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cv-profile-con-language {
    font-size: 11px;
    line-height: 20.8px;
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.language-details {
    margin-bottom: 5px;
}

.cv-edu-con {
    width: 100%;
    display: flex;
    // flex-wrap:wrap ;
}
.left-edu {
    display: block;
    width: 20%;
    padding-right: 1em;
}
.right-edu {
    width: 80%;
    display: block;
}

.edu-date {
    font-size: 11px;
    display: inline-block;
}
.edu-dat {
    font-size: 11px;
    display: block;
    word-break: break-word;
}
.edu-add {
    font-size: 11px;
}
.edu-schoolName {
    font-weight: bold;
}

p {
    margin-bottom: 0px;
}

.cv-bl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    //  span{
    //      font-size: 11px;
    //  }

    .bullet {
        width: 4px;
        height: 4px;
        background: #000;
        display: block;
        margin-right: 10px;
    }
}

.name-level {
    font-size: 9px;
    vertical-align: middle;
    color: gray;
}

.details-table th,
.details-table td {
    padding: 0px 9px 1px 5px;
}
//  .cv-bl:not(:first-child){
//      margin-left: 12px;
//  }
#cv-page-formate {
    position: relative;
    width: 100%;
}

.top-cv-name {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.left-side-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// img-for-rect
.right-side-img {
    position: relative;
    display: block;

    img {
        width: 80px;
        height: 80px;
        border: 1px solid #ddd;
    }
}

// img-for-big-rect
.img-rect img {
    width: 100px;
    height: 130px;
}
.img-square img {
    height: 100px;
    width: 100px;
}
// img-for-circle

.img-circle img {
    border-radius: 50%;
}

// for text-left

.cv-text-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-side-name {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .details {
        flex-direction: column;
        align-items: flex-start;

        .ml-cv {
            margin-left: 0px;
        }
    }
}

.justify-content-to-right {
    justify-content: flex-end;
}
// for-text-right
.cv-text-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    .left-side-name {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
        padding-left: 4mm;
    }
    .details {
        flex-direction: column;
        align-items: flex-start;

        .ml-cv {
            margin-left: 0px;
        }
    }
}

.cv-text-center {
    width: 100%;
    display: -webkit-box;
    display: flex;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    .left-side-name {
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    .details {
        flex-direction: column;
        align-items: center;

        .ml-cv {
            margin-left: 0px;
        }
    }
    .name {
        text-align: center;
    }
}

.gap {
    margin-right: 10px;
    word-break: break-word;
    table-layout: auto;
    display: inline-table;
}

.icon-size {
    font-size: 14px;
}
// two-column
.cv-two-column {
    display: flex;
    align-items: initial;
    width: 100%;
    justify-content: space-between;
    //height: 100%;
    // .cv-width{
    //     width: 48%;
    //     min-height: 0vh;
    // }

    .cv-edu-con {
        display: block;

        .left-edu,
        .right-edu {
            width: 100%;
        }
        .right-edu {
            white-space:normal;
        }
    }
}

.personal-custom-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.font-size-eight-pt * {
    font-size: 8pt;
}
.font-size-nine-pt * {
    font-size: 9pt;
}
.font-size-ten-pt * {
    font-size: 10pt;
}
.font-size-eleven-pt * {
    font-size: 11pt;
}
.font-size-twelve-pt * {
    font-size: 12pt;
}
.font-size-thirteen-pt * {
    font-size: 13pt;
}
.font-size-fourteen-pt * {
    font-size: 14pt;
}
.cv-width {
    // padding: 4mm;
}

.heading-container {
    display: flex;
}

.double-columns:nth-child(even) {
    // background: red;
    // color: white;
    height: auto;
    // min-height: 90vh;
    padding-top: 0 ;
    padding-bottom: 0 ;
    // width: 40% ;
}
.double-columns:nth-child(odd) {
    // background: green;
    // color: black;
    height: auto;
    padding-top:  0 ;
    padding-bottom: 0 ;
    // min-height: 90vh;
    // width: 60% ;
}


.cv-width {
    width: 100%;
    padding-bottom: 0 !important;
    // padding-left: 4mm;
}
.double-columns {
    min-height: 0vh;
    padding: 4mm;
}

.cv-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.cv-page {
    text-decoration: none;
    border: 1px solid #000;
    font-size: 15px;
    padding: 10px 12px;
    margin-top: 20px;
}

.line-height-14 * {
    line-height: 14px;
}
.line-height-15 * {
    line-height: 15px;
}
.line-height-16 * {
    line-height: 16px;
}
.line-height-17 * {
    line-height: 17px;
}
.line-height-18 * {
    line-height: 18px;
}
.line-height-19 * {
    line-height: 19px;
}
.line-height-20 * {
    line-height: 20px;
}
.line-height-21 * {
    line-height: 21px;
}
.line-height-22 * {
    line-height: 22px;
}
.line-height-23 * {
    line-height: 23px;
}
.line-height-24 * {
    line-height: 24px;
}
.line-height-25 * {
    line-height: 25px;
}
.line-height-26 * {
    line-height: 26px;
}
.line-height-27 * {
    line-height: 27px;
}
.line-height-28 * {
    line-height: 28px;
}
.line-height-29 * {
    line-height: 29px;
}
.line-height-30 * {
    line-height: 30px;
}
.line-height-31 * {
    line-height: 31px;
}
.line-height-32 * {
    line-height: 32px;
}
.line-height-33 * {
    line-height: 33px;
}
.line-height-34 * {
    line-height: 34px;
}
.line-height-35 * {
    line-height: 35px;
}
.line-height-36 * {
    line-height: 36px;
}
.line-height-37 * {
    line-height: 37px;
}
.line-height-38 * {
    line-height: 38px;
}
.line-height-39 * {
    line-height: 39px;
}
.line-height-40 * {
    line-height: 40px;
}
.line-height-41 * {
    line-height: 41px;
}
.line-height-42 * {
    line-height: 42px;
}
.line-height-43 * {
    line-height: 43px;
}

.line-height-44 * {
    line-height: 44px;
}
.line-height-45 * {
    line-height: 45px;
}

.language-detail-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12px;
}

.page-a4{
    width: 21cm;
  height: 29.7cm; 


    .lang-left{
        display: flex;
        flex-wrap: wrap;
    }
    .lang-right{
        display: flex;
        flex-wrap: wrap;
    }
}

.page-us{
    width:21.6cm;
    height: 27.9cm;
    .lang-left{
        display: flex;
        flex-wrap: wrap;
    }
    .lang-right{
        display: flex;
        flex-wrap: wrap;
    }
}

.edu-display-two-columns {
    display: flex;
    flex-wrap: wrap;
    .date {
        margin-right: 5px;
    }
}